<nav class="nav">
  <a href="/" class="nav-link">Home</a>
  <a href="/students" class="nav-link">Students</a>
  <a href="/students/create" class="nav-link">Add new student</a>
  <a href="/error" class="nav-link">Error</a>
</nav>