<!DOCTYPE html>
<html>
    <%- include("../partials/head") %>

    <body>
        
        <h1>Welcome to this glorious page!</h1>
        <%- include("../partials/navigation") %>

        <p>
            <%= content %>
        </p>
    </body>

</html>